@model IEnumerable<ProjectFInalExam.Models.Soutenance>

@{
    ViewData["Title"] = "Index";
}

<h1>List des soutenances</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Heure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PFE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.President)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rapporteur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Heure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PFE.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.President.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rapporteur.Nom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
